__pycache__/
*.pyc
.venv/
venv/
venv_eval/

models/
embeddings_logs/
patches_logs/

*.h5
*.pkl
*.npz

eval/sandbox/results*/
eval/sandbox/pkl_final/
eval/sandbox/pkl_common/
eval/sandbox/npz/
eval/sandbox/munay/
eval/sandbox/prime/
eval/sandbox/log*.log

tareas_cap6/figures/
tareas_cap6/outputs/
tareas_cap6/snapshots/
tareas_cap6/pngs/
tareas_cap6/seleccion/